/* ======= Global Styles ======= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
div,
img {
    padding: 0;
    margin: 0;
}

:root {
    --color-red: #FF4646;
    --color-red-10: hsl(0, 100%, 64%, 10%);
    --color-dark: #181C29;
    --color-dark-80: hsl(226, 26%, 13%, 80%);
    --color-white: #FFFFFF;
    --color-white-40: hsl(0, 0%, 100%, 40%);
    --color-white-20: hsl(0, 0%, 100%, 20%);
    --color-light: #ECF3F8;
    --color-pink: #FF43F7;
    --color-green: #06A44F;
    --color-purple: #4361FF;
    --font-family-primary: 'Montserrat', sans-serif;
    --font-family-secondary: 'Allura', sans-serif;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family-primary);
    line-height: 148%;
    color: var(--color-dark);
    background-color: var(--color-white);
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-dark);
}

h1 {
    font-size: 32px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.18em;
    text-transform: uppercase;
}

h2 {
    font-family: var(--font-family-secondary);
    font-size: 24px;
    letter-spacing: 0.05em;
    line-height: 100%;
}

h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 152%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
}

h4 {
    font-size: 16px;
    font-weight: 600;
    line-height: 152%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

button {
    padding: 20px 32px;
    color: var(--color-white);
    background-color: var(--color-dark);
    border: none;
    border-radius: 20px;
    width: 236px;
    text-transform: uppercase;
}

button:hover {
    cursor: pointer;
    background-color: var(--color-white);
    color: var(--color-dark);
    transition: 0.5s;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 82px;
}

.section {
    width: 100%;
}

.text {
    font-size: 12px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.05em;
}

/* ======= Header ======= */

.nav {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    text-transform: uppercase;
}

.logo-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding: 8px 20px;
    text-wrap: nowrap;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.nav-link {
    padding: 12px 20px;
}

.nav-link:hover {
    cursor: pointer;
    color: var(--color-red);
    background-color: var(--color-red-10);
    border-radius: 12px;
    transition: 0.5s;
}

.burger {
    display: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.burger-img {
    display: none;
    width: 20px;
    height: 1px;
    background-color: var(--color-dark);
}

/* ======= Main container ======= */

.main-container {
    background-image: url(../../../assets/images/bg-snow.png);
    background-color: var(--color-red);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 60px;
    padding-bottom: 60px;
    overflow-x: hidden;
    color: var(--color-white);
}

/* ======= Hero ======= */

.hero {
    background-image: url(../../../assets/images/bg-ball.png), url(../../../assets/images/bg-snow.png);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hero-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    padding: 60px 0;
}

/* ======= About ======= */

.about-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background-color: var(--color-white);
    color: var(--color-dark);
}

.about-image {
    width: 638px;
    height: 528px;
}

.about-image img {
    border-radius: 20px;
}

.about-text {
    margin: 160px 60px;
    width: 426px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
}

.about-title {
    color: var(--color-red);
}

/* ======= Slider ======= */

.slider-subtitle,
.best-subtitle {
    padding: 12px 0 20px 0;
}

/* ======= Best ======= */

.slider-list {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding-bottom: 20px;
    align-items: center;
}

.slider-item-text {
    font-size: 80px;
    font-weight: 600;
    line-height: auto;
    letter-spacing: 0em;
    text-transform: uppercase;
}

.slider-item-img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    overflow: hidden;
    flex-shrink: 0;
}

.paginators {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.paginator {
    padding: 16px;
    border: 1px var(--color-white) solid;
    border-radius: 20px;
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
}

.paginator-svg {
    color: var(--color-white);
}

.prev-paginator .paginator-svg {
    transform: rotate(180deg);
}

.paginator:hover {
    cursor: pointer;
    background-color: var(--color-white);
    transition: 0.5s;
}

.paginator:hover .paginator-svg {
    color: var(--color-red);
}

.paginator .inactive .paginator-svg {
    border: 1px var(--color-white-40) solid;
    color: var(--color-white-40);
}

.paginator.inactive {
    opacity: 0.4;
    pointer-events: none;
}

.paginator.inactive:hover {
    background-color: inherit;
    cursor: default;
}

.paginator.inactive .paginator-svg {
    color: var(--color-white);
}

.best-cards {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.best-card-image {
    width: 310px;
    height: 230px;
}

.best-card-description {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: left;
    border-radius: 20px;
    padding-top: 20px;
    padding-left: 20px;
    background-color: var(--color-white);
    text-transform: uppercase;
    height: 112px;
}

.for-work {
    color: var(--color-purple);
}

.for-health {
    color: var(--color-green);
}

.for-harmony {
    color: var(--color-pink);
}

.best-card {
    position: relative;
    width: 310px;
    height: 342px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-light);
    color: var(--color-dark);
    border-radius: 20px;
}

.best-card:hover {
    cursor: pointer;
}

.best-card:hover .best-card-subtitle {
    color: var(--color-red);
    transition: 0.5s;
}

/* ======= CTA ======= */

.cta {
    background-image: url(../../../assets/images/bg-forest.png), url(../../../assets/images/bg-snow.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.cta-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0;
}

.cta-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cta-calendar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    padding: 8px 12px 12px 12px;
    background-color: var(--color-white-40);
    border-radius: 20px;
}

.cta-button {
    margin: 18px 0;
}

.cta-text {
    text-transform: uppercase;
}

.cta-calendar-items {
    width: 80px;
}

.side-border {
    position: absolute;
    width: 1px;
    height: 20px;
    background-color: var(--color-white-40);
    top: 48%;
    transform: translateY(-50%);
}

.side-border-first {
    left: 90px;
}

.side-border-second {
    left: 170px;
}

.side-border-third {
    left: 250px;
}

/* ======= Footer ======= */

.footer-container {
    padding-top: 60px;
    padding-bottom: 60px;
}

.contact-cards {
    display: flex;
    gap: 12px;
    justify-content: space-between;
}

.contact-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-wrap: nowrap;
    gap: 9px;
    background-color: var(--color-light);
    padding: 20px;
    width: 417.33px;
    border-radius: 20px;
}

.contact-card:hover {
    cursor: pointer;
}

.contact-card:hover .contact-name,
.contact-card:hover .contact-description {
    color: var(--color-red);
    transition: 0.5s;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.messengers {
    display: flex;
    justify-content: center;
    gap: 12px;
    padding-top: 60px;
}

.messenger {
    width: 24px;
    margin: 8px;
}

.messenger:hover svg {
    color: var(--color-red);
    transition: 0.5s;
}

.rsschool:hover {
    color: var(--color-red);
    transition: 0.5s;
}

@media (max-width: 1440px) {

    .container {
        max-width: 1440px;
        padding-left: 5.125rem;
        padding-right: 5.125rem;
    }

    .about-text {
        margin: 10rem 3.75rem;
        max-width: 426px;
    }

    .about-image {
        width: 39.875rem;
        height: 33rem;
    }

    .contact-card {
        width: 26.08rem;
        padding: 1.25rem;
    }
}

@media (max-width: 768px) {

    .container {
        padding-left: 8px;
        padding-right: 8px;
        max-width: 768px;
    }

    .nav-list {
        display: none;
    }

    .burger {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

    .burger-img {
        display: block;
    }

    .about-text {
        max-width: 16.25rem;
        margin: 6.625rem 3.5rem 6.625rem 3.75rem;
    }

    .about-image {
        width: 23.5rem;
        height: 33rem;
    }

    .best-cards {
        flex-wrap: wrap;
    }

    .contact-cards {
        flex-direction: column;
        padding-left: 8px;
        padding-right: 8px;
    }

    .contact-card {
        width: 100%;
    }
}

@media (max-width: 380px) {

    .container {
        max-width: 380px;
    }

    .about-div {
        flex-direction: column;
    }
}