* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #FF4646;
    --secondary-color: #FFFFFF;
    --font-family: 'Montserrat', sans-serif;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    line-height: 148%;
    color: #181C29;
    background-color: var(--secondary-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #181C29;
}

h1 {
    font-size: 32px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.18em;
    text-transform: uppercase;
}

.container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 82px;
}

.section {
    width: 100%;
}

.main-container {
    background-color: var(--primary-color);
}

.nav {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.05em;
}

.logo-link {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    padding: 8px 20px;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.nav-item {
    padding: 12px 20px;
}

.hero {
    background-image: url(../../../assets/images/hero_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 505px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 12px;
    color: #FFFFFF;

}
