@import 'fonts.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #FF4646;
    --secondary-color: #FFFFFF;
    --font-family: 'Montserrat', sans-serif;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    line-height: 148%;
    color: #181C29;
    background-color: var(--first-color);
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 82px;
}

.section {
    width: 100%;
}
