/* ======= Global Styles ======= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-red: #FF4646;
    --color-red-10: hsl(0, 100%, 64%, 10%);
    --color-dark: #181C29;
    --color-dark-80: hsl(226, 26%, 13%, 80%);
    --color-white: #FFFFFF;
    --color-white-40: hsl(0, 0%, 100%, 40%);
    --color-white-20: hsl(0, 0%, 100%, 20%);
    --color-light: #ECF3F8;
    --color-pink: #FF43F7;
    --color-green: #06A44F;
    --color-purple: #4361FF;
    --font-family-primary: 'Montserrat', sans-serif;
    --font-family-secondary: 'Allura', sans-serif;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family-primary);
    line-height: 148%;
    color: var(--color-dark);
    background-color: var(--color-white);
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-dark);
}

h1 {
    font-size: 32px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.18em;
    text-transform: uppercase;
}

h2 {
    font-family: var(--font-family-secondary);
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.05em;
    line-height: 100%;
}

h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 152%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
}

h4 {
    font-size: 16px;
    font-weight: 600;
    line-height: 152%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

button {
    padding: 20px 32px;
    color: var(--color-white);
    background-color: var(--color-dark);
    border: none;
    border-radius: 20px;
    width: 236px;
    text-transform: uppercase;
    transition: 0.5s;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 82px;
}

.text {
    font-size: 12px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.05em;
}

/* ======= Header ======= */

.nav {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    text-transform: uppercase;
}

.logo-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding: 8px 20px;
    text-wrap: nowrap;
}

.logo-title {
    text-wrap: nowrap;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.nav-link {
    padding: 12px 20px;
    transition: 0.5s;
}

.burger {
    display: none;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.burger-img {
    display: none;
    position: absolute;
    width: 21px;
    height: 1px;
    background-color: var(--color-dark);
    transition: transform 0.5s linear;
}

.burger-img:nth-child(1) {
    top: 16px;

}

.burger-img:nth-child(2) {
    top: 24px;
}

.burger.rotate .burger-img:nth-child(1) {
    transform: rotate(45deg) translateY(2px) translateX(3px);
}

.burger.rotate .burger-img:nth-child(2) {
    transform: rotate(-45deg) translateY(-3px) translateX(4px);
}

.no-scroll {
    overflow: hidden;
}

.mobile-menu {
    position: fixed;
    display: none;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 360px;
    gap: 32px;
    align-items: center;
    top: 64px;
    right: -1500px;
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
    z-index: 998;
    transition: right 0.5s linear;
}

.mobile-menu.open {
    right: 0;
}

/* ======= Popap ======= */

.no-scroll-background {
    display: none;
    top: 0;
    right: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: hsl(226, 26%, 13%, 0);
    transition: background-color 0.5s linear;
}

.no-scroll-background.open {
    display: block;
    background-color: hsl(226, 26%, 13%, 80%);
    z-index: 998;
}

.popap {
    position: relative;
    position: fixed;
    top: 50%;
    left: -3000px;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 400px;
    height: 514px;
    background-color: var(--color-light);
    color: var(--color-dark);
    border-radius: 20px;
    z-index: 999;
}

.popap.open {
    left: 50%;
}

.popap-close {
    position: absolute;
    top: 12px;
    right: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.popap-close-img {
    width: 30px;
    height: 1px;
    background-color: var(--color-dark);
}

.popap-close-img:nth-child(1) {
    transform: rotate(45deg) translateY(1px);
}

.popap-close-img:nth-child(2) {
    transform: rotate(-45deg);
}

.popap-image {
    width: 100%;
    height: 230px;
}

.popap-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    border-radius: 20px;
    padding: 20px;
    background-color: var(--color-white);
}

.popap-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 20px;
}

.popap-title {
    text-transform: uppercase;
}

.superpower-title {
    padding-bottom: 8px;
    text-transform: uppercase;
}

.superpowers {
    display: flex;
}

.superpower {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.superpower-name {
    width: 184px;
}

.superpower-digit {
    width: 40px;
}

.superpower-imgages {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    width: 112px;
}

.superpower-img {
    width: 16px;
    height: 16px;
}


/* ======= Footer ======= */

.footer-container {
    padding-top: 60px;
    padding-bottom: 60px;
}

.contact-cards {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.contact-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-wrap: nowrap;
    gap: 9px;
    background-color: var(--color-light);
    padding: 20px 0;
    width: 417.33px;
    border-radius: 20px;
}

.contact-card .contact-name,
.contact-card .contact-description {
    transition: 0.5s;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.messengers {
    display: flex;
    justify-content: center;
    gap: 12px;
    padding-top: 60px;
}

.messenger {
    width: 24px;
    margin: 8px;
}

.messenger svg {
    transition: 0.5s;
}

.rsschool {
    transition: 0.5s;
}

/* ======= Active ======= */

button:active {
    background-color: var(--color-white);
    color: var(--color-dark);
}

.nav-link:active {
    color: var(--color-red);
    background-color: var(--color-red-10);
    border-radius: 12px;
}

.contact-card:active .contact-name,
.contact-card:active .contact-description {
    color: var(--color-red);
}

.messenger:active svg {
    color: var(--color-red);
}

.rsschool:active {
    color: var(--color-red);
}

/* ======= Hover ======= */

@media (hover: hover) {

    button:hover {
        cursor: pointer;
        background-color: var(--color-white);
        color: var(--color-dark);
    }

    .nav-link:hover {
        cursor: pointer;
        color: var(--color-red);
        background-color: var(--color-red-10);
        border-radius: 12px;
    }

    .popap-close:hover {
        cursor: pointer;
    }

    .contact-card:hover {
        cursor: pointer;
    }

    .contact-card:hover .contact-name,
    .contact-card:hover .contact-description {
        color: var(--color-red);
    }

    .messenger:hover svg {
        color: var(--color-red);
    }

    .rsschool:hover {
        color: var(--color-red);
    }
}

/* ======= Viewport width ======= */

@media (max-width: 1440px) {

    .container {
        max-width: 90rem;
        padding-left: 5.125rem;
        padding-right: 5.125rem;
    }

    .contact-card {
        width: 26.08rem;
    }

}

@media (max-width: 1400px) {


    .contact-cards {
        flex-direction: column;
    }

    .contact-card {
        width: 100%;
    }

}

@media (max-width: 768px) {

    .container {
        padding-left: 8px;
        padding-right: 8px;
        max-width: 48rem;
    }

    .nav-list {
        display: none;
    }

    .burger,
    .mobile-menu {
        display: flex;
    }

    .burger-img {
        display: block;
    }
}

@media (max-width: 420px) {

    .popap {
        width: 364px;
    }

    .superpower-name {
        width: 148px;
    }

}

@media (max-width: 380px) {

    .container {
        max-width: 23.75rem;
    }

    .mobile-menu {
        padding-top: 254px;
    }
}